
/*
#ECCF26
#F6E148 
#FFFD68
#FFFFFF
#969383 
*/

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #ECCF26;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 1px;
}

#logo_header{
    border: 2px solid black;
    float: left;
    width: auto;
    padding: 0;
    margin: auto 0;
    display: flex;
}

#logo_header img{
    width: 25%;
}